* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*classi di utilities*/
.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
/*fine classi di utilities*/
.d-flex {
    display: flex;
    height: 700px;
    width: 100%;
    
}
/*stile calcolatrice*/
.calculator {
    height: 600px;
    width: 300px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
}
   /*fine stile calcolatrice*/
 
   /*stile nome calcolatrice*/
.brand {
    font-style: normal;
    font-family: Eurostile Extended;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    
    flex-basis: 30px;
}
/*fine stile nome calcolatrice*/

/*inizio stile schermo calcolatrice*/
.screen {
    font-size: 24px;
    text-align: right;
    padding: 10px;
   
    font-family: seven segment;
    background-color: black;
    color: greenyellow;
   
}
/*fine stile schermo calcolatrice*/