* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*classi di utilities*/
.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
/*fine classi di utilities*/
.d-flex {
    display: flex;
    height: 1200px;
    width: 100%;
    
}
/*stile calcolatrice*/
.calculator {
    height: 700px;
    width: 600px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
}
   /*fine stile calcolatrice*/
 
   /*stile nome calcolatrice*/
.brand {
    font-style: normal;
    font-family: Eurostile Extended;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    
    flex-basis: 30px;
}
/*fine stile nome calcolatrice*/

/*inizio stile schermo calcolatrice*/
.screen {
    font-size: 24px;
    text-align: right;
    padding: 10px;
    height: 50px;
    font-family: seven segment;
    background-color: black;
    color: greenyellow;
   
   
}
/*fine stile schermo calcolatrice*/

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 50px;
   
    
}
.button {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 25%;
    height: 50px;
}
    

#zero {
    flex-grow: 0.55;
}

